/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.ticket{
  display: inline-block;
 	width: 25%;
 	min-height: 24px;
    padding: 1% 1% 0 ;
    float: left;
    box-sizing: border-box;
}

.ticket a {
  display: block;
    color:#fff;
    font-weight: bold;
  font-size: 1.3rem;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.7);
   -webkit-transition: all 200ms ease-out;
   -moz-transition: all 0.1s;
    transition: all 200ms ease-out;
}

.ticket a:hover{
	cursor:pointer;
  opacity: 0.8;
}

.ticket .push {
  padding: 6%;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}

.ticket:active .push {
  -webkit-transform: translate(0, 4px);
  -moz-transform: translate(0, 4px);
  -o-transform: translate(0, 4px);
  transform: translate(0, 4px);
}

.one {
  -webkit-box-shadow: 0 8px 0 #d16a2e, 0 10px 4px rgba(0, 0, 0, .35);
  -moz-box-shadow: 0 8px 0 #d16a2e, 0 10px 4px rgba(0, 0, 0, .35);
  box-shadow: 0 8px 0 #d16a2e, 0 10px 4px rgba(0, 0, 0, .35);
}

.one .push{
	background: #E9854A;
  border: solid 1px #f0935c;
}

.one:active, .one:focus {
  -webkit-box-shadow:    0 8px 0 #d16a2e, 0 10px 8px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 8px 0 #d16a2e, 0 10px 8px rgba(0, 0, 0, .3);
    box-shadow:    0 8px 0 #d16a2e, 0 10px 8px rgba(0, 0, 0, .3);
}

.two {
  -webkit-box-shadow: 0 8px 0 #4e9fae, 0 10px 4px rgba(0, 0, 0, .35);
  -moz-box-shadow: 0 8px 0 #4e9fae, 0 10px 4px rgba(0, 0, 0, .35);
  box-shadow: 0 8px 0 #4e9fae, 0 10px 4px rgba(0, 0, 0, .35);
}

.two span.push{
	background: #71B7C4;
}

.two:active, .two:focus {
  -webkit-box-shadow:    0 8px 0 #4e9fae, 0 10px 8px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 8px 0 #4e9fae, 0 10px 8px rgba(0, 0, 0, .3);
    box-shadow:    0 8px 0 #4e9fae, 0 10px 8px rgba(0, 0, 0, .3);
}

.three {
  -webkit-box-shadow: 0 8px 0 #91b563, 0 10px 4px rgba(0, 0, 0, .35);
  -moz-box-shadow: 0 8px 0 #91b563, 0 10px 4px rgba(0, 0, 0, .35);
  box-shadow: 0 8px 0 #91b563, 0 10px 4px rgba(0, 0, 0, .35);
}

.three span.push{
	background: #ACCA86;
}

.three:active, .three:focus {
  -webkit-box-shadow:    0 8px 0 #91b563, 0 10px 8px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 8px 0 #91b563, 0 10px 8px rgba(0, 0, 0, .3);
    box-shadow:    0 8px 0 #91b563, 0 10px 8px rgba(0, 0, 0, .3);
}

.four {
  -webkit-box-shadow: 0 8px 0 #2e3d42, 0 10px 4px rgba(0, 0, 0, .35);
  -moz-box-shadow: 0 8px 0 #2e3d42, 0 10px 4px rgba(0, 0, 0, .35);
  box-shadow: 0 8px 0 #2e3d42, 0 10px 4px rgba(0, 0, 0, .35);
}

.four span.push{
	background: #495559;
}

.four:active, .four:focus {
  -webkit-box-shadow:    0 8px 0 #2e3d42, 0 10px 8px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 8px 0 #2e3d42, 0 10px 8px rgba(0, 0, 0, .3);
    box-shadow:    0 8px 0 #2e3d42, 0 10px 8px rgba(0, 0, 0, .3);
}

.price{
	text-align: right;
	float: right;
}

@media (max-width: 1224px) {
  .ticket {
    width: 25%;
  }

  .ticket a {
    font-size: 1.1rem;
  }

  .ticket .push {
    padding: 4%;
  }

}

@media (max-width: 768px) {
  .ticket {
    width: 50%;
    padding: 10px;

  }

  .ticket:nth-child(3) {
    clear: both;
  }

  .ticket .push {
    padding: 4%;
  }

}

@media (max-width: 480px) {
  .ticket {
    width: 100%;
    float: none;
  }

}