body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #ededed;
}

.navbar-default {
  background: #F2600F;
  border: none;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

#sidebar-menu>ul {
  margin-top: 5px;
}

.main-title {
  font-size: 33px;
  line-height: 26px;
  color: #333;
  margin-bottom: 30px;
  font-weight: 400;
  margin-top: 0;
}

.css-table {
  display: table;
  width: 100%;
  height: 100%;
}

.css-cell {
  display: table-cell;
  vertical-align: middle;
}

.row-10 {
  margin-left: -10px;
  margin-right: -10px;
}

#chart {
  height: 400px;
  margin: 0px auto;
}

#uv-div {
  width: 100%;
  margin: 0px auto;
}

.c3-line, .c3-target.c3-focused path.c3-line {
  /*stroke-width: 8px;*/
}

.c3-line {
    stroke-width: 5px;
}

.c3-axis-y-label, .c3-axis-y2-label {
  font-size: 16px;
}

.info-figures {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.figures-section {
  box-sizing: border-box;
  padding: 0 10px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.figures-box {
  color: #fff;
  padding: 20px;
  font-size: 20px;
  border-radius: 2px;
  position: relative;
  width: 100%;
}

.figures-box .fa {
  opacity: .3;
  position: absolute;
  top: 10px;
}

.figures-box .fa-ticket {
  font-size: 70px;
  right: 10px;
}

.figures-box .fa-dollar {
  font-size: 70px;
  right: 20px;
}

.figures-box.tickets-sold {
  background-color: #71B7C4;
}

.figures-box.tickets-revenue {
  background-color: #E9854A;
}

.figures-box.tickets-sold-amount {
  background-color: #ACCA86;
}

.figures-box.tickets-revenue-amount {
  background-color: #495559;
}

.figures-title {
  text-transform: uppercase;
  line-height: 20px;
  font-weight: bold;
  height: 50px;
}

.figures-title .add-info {
  display: block;
  text-transform: lowercase;
  font-weight: 200;
}

.figures {
  font-weight: bold;
}

.figures .number {
  font-size: 37px;
  line-height: 27px;
}

.figures .add-info {
  display: block;
  font-weight: normal;
  line-height: 23px;
}

.chart-box {
  padding: 0 10px;
}

.chart-content {
  background-color: #fff;
  padding: 20px;
}

.chart-title {
  font-size: 16px;
  line-height: 14px;
  color: #444;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ededed;
  padding: 15px 20px;
  font-weight: 200;
  margin: 0;
}

#donut {
  z-index: 2;
}

.donut-container {
  position: relative;
  margin: 6px 0 16px;
}

.donut-title-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 295px;
  z-index: 1;
}

.donut-title {
  width: 150px;
  text-align: center;
  margin: auto;
  font-size: 16px;
}

.donut-amount {
  font-size: 24px;
  font-weight: bold;
}

@media (max-width: 1200px){

  .figures-box {
    font-size: 16px;
  }
  .figures .number {
    font-size: 27px;
    line-height: 17px;
  }
}