<!DOCTYPE html>
<html class="no-js" lang="es">
  <head>
    <title>Panel</title>
    <meta charset="utf-8" />
    <link href="/static/style.css" rel="stylesheet" />
  </head>

  <body>
    <ul>
      <li class="ticket one" data-ticketid="1" data-channel="1" data-price="2000">
        Entrada general
        <span class="price">20,00 €</span>
      </li>

      <li class="ticket two" data-ticketid="2" data-channel="1" data-price="1000">
        Entrada infantil
        <span class="price">10,00 €</span>
      </li>

      <li class="ticket three" data-ticketid="3" data-channel="2" data-price="1500">
        Entrada jubilados
        <span class="price">15,00 €</span>
      </li>

      <li class="ticket four" data-ticketid="4" data-channel="3" data-price="0">
        Entrada gratuita
        <span class="price">gratis</span>
      </li>
    </ul>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script>
    $(function(){
      $("li").click(function(event) {
        var ticket_id = event.toElement.dataset.ticketid;
        var price = event.toElement.dataset.price;
        var channel = event.toElement.dataset.channel;
        $.post("http://localhost:8080/update_ticket", {"ticket_id": ticket_id, "price": price, "channel": channel});
      });
    });
  </script>
</body>
</html>
